nav,
header,
footer{
    display:block;
}
body{
    line-height: 1;
    margin:0;
}
label{
    font-size: 25px;
    font-weight:700;
    font-style: italic;
    font-family:sans-serif;
}
p{
    font-size: 22px;
    line-height: 1.2
}
article{
    font-size:22px;
    padding:20px;
    font-family: sans-serif;
    font-style:italic;
    
}
.container{
    width:100%;
    margin:auto;
    padding-top:4%;
    padding-bottom :4%;
}
.row{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}
.row::afetr{
    display:table;
    clear:both;
    content:"";
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
*{
    box-sizing: border-box;
}

/* ###########_____Nav bar______##########*/

nav{
    width:100%;
    margin=0;
}
nav ul{
    background-color:darkgrey;
    overflow:hidden;
    margin:0;
    padding:0;
}

ul.topnav li{
    list-style: none;
    float:left;
}
ul.topnav li.topnav-right{
    float:right;
}
ul.topnav li a{
    display:block;
    text-decoration: none;
    min-height: :16px;
    text-align: center;
    padding:14px;
    text-transform: uppercase;
    color:white;
}
ul.topnav li a:hover {
    background-color: burlywood;
    color:#fff;
}
ul.topnav li.dropdownIcon{
    display:none;
}
/*#############____Custom Style___#############*/
#section-1-gradient{
background:#076DFF;
    background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF,#65a5ff);
    background: -moz-linear-gradient(#076DFF,#65a5ff);
    background: linear-gradient(#076DFF,#65a5ff);
}
div.box{
    text-align: center;
    margin:20px;
    padding:15px 24px 10px 24px;
    background-color: #fff;
    box-shadow:/*0 0 0 1px rgba(0,0,1,1.5),*/
    5px 5px 5px 0 rgba(0,0,0,0.5);
    border-radius: 9px 9px 9px 10px;
    border: 2px solid #c7455f;
    font-size:10px;
    
}

div.engine img{
      display:block;
      margin:auto;
    height:240px;
    width:300px;
    box-shadow: 2px/*H*/ 3px/*V*/ 4px/*Blur*/ 2px/*Spread*/rgba(0/*Shadow*/,0/*background*/,0/*Box*/,0.55/*opacity*/),2px 2px 4px 2px rgba(0,0,0,1);
    border:2px solid black;
}
button{
    font-size:28px;
    font-weight: 500;
    color:#fff;
    background-color:darkcyan;
    padding:15px 60px;
    border-radius: 10px;
    display:block;
    text-align:center;
    margin:10px;
}
button.LearnMore{
    display:block;
    margin:auto;
}
div.Iconsize{
   
    width:100%;
}
div.size{
     width:110px;
    height: 125px;
}

div.shiftLeft{
    margin-left:25%;
    
}
div.rightside{
    margin-left: 15%;
}

h1.large{
    color:white;
    font-size: 56px;
    margin:0;
    line-height: 75px;
}
h1.section2header{
    font-size: 50px;
    text-align: center;
}
form h2{
    color:black;
    text-align:left;
}
input[type="text"]{
    font-size: 15px;
    width:350px;
    padding:5px;
    min-width: 100px;
    border-radius: 8px;
    
}
footer.footsy{
    background-color:firebrick;
    padding-left:10%;
}
footer.footsy h1{
    color:antiquewhite;
    font-size:30px;
}
footer.footsy ul{
    list-style: none;
    text-align:left;
    padding-left:1;
    color:aquamarine;
    font-size: 20px;
}
footer.footsy ul li{
    color:#fff;
    font-style:italic;
    font-size:20px;
    line-height:1.2;
}

/*##############____Mobile____##########*/
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }
    
    ul.topnav li.dropdownIcon{
        display:block;
        float:right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position:absolute;
        top:0;
        right:0;
    }
    
    ul.topnav.responsive{
        position:relative;
    }
    
    ul.topnav.responsive li{
        display:inline;
        float:none;
        }
    
    ul.topnav.respnsive li a{
        display:block;
        text-align: left;
        
    }
    h1.section2header{
    font-size: 40px;
    text-align: center;
}
    article p{
        font-size:25px;
    }
    .col-7,
    .col-6,
    .col-5,
    .col-4{
        width:100%;
        margin:0;
    }
    div.mobilestack{
        width:50%;
        display:block;
    }
    div.box{
        padding:5px;
        display:block;
    }
    div.engine{
        margin:15px;
    }
    div.engine img{
        width:100%;
        
    }
    div.shiftLeft,
    div.rightside{
        margin:10px;
    }
    input[type="text"]{
        width:300px;
    }
    .VedioContainer iframe{
        position: relative;
        width:100%;
        margin:0;
        overflow:hidden;6
    }
}